@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;700&display=swap');


@font-face {
  font-family: 'ProximaNova-Regular';
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MutiaraVintage';
  src: url('../fonts/MutiaraVintage.ttf');
}
/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100vw;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
  }
}

body {
  width: 100%;
  font-family: "ProximaNova-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #111111;
  background-color: white;
  overflow-x: hidden;
}

h2 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 65px;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 2%;
  text-align: center;
}

h1 {
  font-family: "MutiaraVintage", sans-serif;
  font-size: 90px;
  color: white;
  z-index: 1;
  position: relative;
  text-align: right;
  text-shadow: 4px 4px 2px #bd1134;
  line-height: 1;
}

h3 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 5vw;
  color: #e5b783;
  line-height: 1.2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  span {
    color: #bd1134;
    font-weight: bold;
  }
}

a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 45px;
  font-family: 'MutiaraVintage', sans-serif;
  color: white;
  font-size: 30px;
  background-color: #bd1134;
  border-radius: 60px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 60px;
}


.content {
  width: 80%;
  max-width: 1680px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-page {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("../img/main-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  position: relative;
}

.caption-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.text-stroke {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  span {
    color: #bd1134;
  }
}

.img-center {
  width: 70%;
  min-width: 300px;
  margin: auto;
}

.two-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 80px;

  &.mobile-column {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .img-box {
    width: 40%;
    position: relative;
    &.after {
      &:after {
        content: '';
        width: 10px;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        background-color: #032966;
      }
    }

    &.before {
      &:before {
        content: '';
        width: 10px;
        height: 80px;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
        background-color: #032966;
      }
    }

    img {
      width: 100%;
    }
  }

  .text-block {
    width: 55%;
  }

  .text-block__item {
    margin-bottom: 20px;

    .caption {
      font-family: 'Teko', sans-serif;
      font-weight: 500;
      font-size: 45px;
      color: #bd1134;
      text-transform: uppercase;
    }
  }
}

.block-divider {
  width: 80%;
  height: 10px;
  background-color: #032966;
  margin: auto;
  margin-top: 80px;
}

.schedule {
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .schedule-box {
    width: 90%;
    background-color: rgba(223, 223, 223, 0.66);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2vw solid rgba(0, 0, 0, 0.55);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px;
  }

  .schedule-caption {
    font-family: "MutiaraVintage", sans-serif;
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 8px 15px;
    position: relative;
    margin-bottom: 90px;
    text-transform: uppercase;
    &:before {
      content: url("../img/caption-before.png");
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(-110%, -50%);
      -ms-transform: translate(-110%, -50%);
      transform: translate(-110%, -50%);
    }
    &:after {
      content: url("../img/caption-after.png");
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(110%, -50%);
      -ms-transform: translate(110%, -50%);
      transform: translate(110%, -50%);
    }
  }
}

.price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;

  .price-item {
    width: 43%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      margin-bottom: 25px;

      .price-position {
        font-family: 'Teko', sans-serif;
        font-weight: 500;
        font-size: 45px;
        color: #bd1134;
        text-transform: uppercase;
        min-width: 40%;
        margin-right: 30px;
      }

      .price {
        font-family: 'Teko', sans-serif;
        font-weight: bold;
        font-size: 34px;
        text-transform: uppercase;
        color: #032966;
      }
    }
  }
}

.item-divider {
  width: 110px;
  height: 10px;
  margin: 50px 0;
  background-color: white;
  &.mobile {
    display: none;
  }
}

.photo-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 110px 0;

  .photo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;

    .couch-photo {
      width: 100%;
      border-bottom: 10px solid #032966;
      padding-bottom: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      img {
        width: 80%;
      }
    }
  }

  .couch-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    padding-top: 50px;

    &.m-border-right {
      border-right: 5px solid #032966;
    }
    &.m-border-left {
      border-left: 5px solid #032966;
    }

    .first-name {
      font-family: 'Teko', sans-serif;
      font-weight: 500;
      color: #bd1134;
      text-align: center;
      font-size: 65px;
      text-transform: uppercase;
      line-height: 1;
    }

    .last-name {
      font-family: 'Teko', sans-serif;
      font-weight: bold;
      color: #bd1134;
      text-align: center;
      font-size: 100px;
      text-transform: uppercase;
      line-height: 1;
    }

    .position {
      font-family: 'Teko', sans-serif;
      color: #032966;
      font-size: 45px;
      text-align: center;
      text-transform: uppercase;
      line-height: 1;
    }

    p {
      text-align: center;
      margin-top: 25px;
    }
  }
}

@media (max-width: 1500px) {
  p {
    font-size: 24px;
  }
}

@media (max-width: 1300px) {
  .two-block .text-block__item .caption {
    font-size: 36px;
  }
  p {
    font-size: 24px;
  }

  .price-box .price-item .head .price-position {
    font-size: 36px;
  }

  .price-box .price-item .head .price {
    font-size: 28px;
  }
}

@media (max-width: 1200px) {
  p {
    font-size: 24px;
  }

  .two-block {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &.mobile-column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .text-block__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      p {
        text-align: center;
      }
    }
  }

  .text-block__item .caption {
    text-align: center;
    font-size: 36px;
  }

  .two-block .img-box.after:after, .two-block .img-box.before:before {
    width: 5px;
    height: 40px;
  }

  .block-divider {
    margin-top: 40px;
    height: 5px;
  }

  .schedule {
    padding: 30px 0;
    .schedule-caption {
      font-size: 50px;
      margin-bottom: 50px;
      &:before {
        -webkit-transform: translate(-90%, -50%) scale(0.6);
        -ms-transform: translate(-90%, -50%) scale(0.6);
        transform: translate(-90%, -50%) scale(0.6);
      }
      &:after {
        -webkit-transform: translate(90%, -50%) scale(0.6);
        -ms-transform: translate(90%, -50%) scale(0.6);
        transform: translate(90%, -50%) scale(0.6);
      }
    }
  }

  .price-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .price-item {
      width: 100%;
    }
  }

  .item-divider.mobile {
    display: block;
  }

  .photo-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .photo-item {
      width: 100%;
      max-width: 640px;
      margin-bottom: 50px;

      .couch-photo {
        border-bottom: 5px solid #032966;
        padding-bottom: 25px;
      }

      .couch-name {
        &.m-border-left, &.m-border-right {
          border: none;
        }

        .first-name {
          font-size: 45px;
        }

        .last-name {
          font-size: 50px;
        }

        .position {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 36px;
  }

  .text-stroke {
    font-size: 30px;
  }

  .two-block {
    .img-box, .text-block {
      width: 100%;
      max-width: 520px;
    }
  }
}

@media (max-width: 768px) {
  p {
    font-size: 18px;
  }
  .two-block .text-block__item .caption {
    font-size: 28px;
  }

  .price-box .price-item .head .price-position {
    font-size: 28px;
  }

  .price-box .price-item .head .price {
    font-size: 20px;
  }

  .schedule .schedule-box {
    padding: 30px;
  }

  .item-divider {
    height: 5px;
    margin: 20px 0;
    width: 75px;
  }

  .price-box .price-item .head {
    margin-bottom: 10px;
  }

  .schedule {
    .schedule-caption {
      font-size: 30px;
      &:before {
        -webkit-transform: translate(-70%, -50%) scale(0.3);
        -ms-transform: translate(-70%, -50%) scale(0.3);
        transform: translate(-70%, -50%) scale(0.3);
      }
      &:after {
        -webkit-transform: translate(70%, -50%) scale(0.3);
        -ms-transform: translate(70%, -50%) scale(0.3);
        transform: translate(70%, -50%) scale(0.3);
      }
    }
  }

  a.btn {
    font-size: 20px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  a.btn {
    font-size: 16px;
  }

  .photo-block {
    padding: 50px 0;
  }

  .photo-block .photo-item .couch-name {
    padding-top: 25px;

    .first-name {
      font-size: 36px;
    }

    .last-name {
      font-size: 30px;
    }

    .position {
      font-size: 24px;
    }
  }
}

